.main{
  width: 100vw;
  height: 100vh;
  position: relative;
}
.wrper{
  width: 100%;
  margin: auto;
  height: 80%;
  padding: 20px 0px;
  overflow-y:scroll;
  overflow-x:hidden;
}
.wrper::-webkit-scrollbar{
  display: none;
}
.berWrpewr{
  display: flex;
  justify-content: center;
}



@media (max-width:768px) {
  .wrper{
  width: 100%;

  }
}