.textareaWrp{
    position: absolute;
    bottom: 40px;
    width: 85%;
    display: flex;
    align-items:center;
    background: #3c4354;
}
.textareaWrp>input{
width: 88%;
height: 100%;
background:transparent;
border: none;
outline: none;
border-radius: 5px;
padding: 10px;
font-size: 18px;
color: #fff;
position: relative;
}
.sentbtnWrp{
    position: absolute;
    right:10px;
}
.icons{
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}


@media (max-width:768px) {
    .textareaWrp{
    width: 95%;
    }
  }